// To use, copy this file to /lib/auth/secrets.dart and update each of the values
// so they match your configuration.

// Set this to your redis server's hostname
const String redisHostname = 'example.com';
// Set this to your redis server's port number
const num redisPortnum = 6380;
// Set this to your redis server's key/password
const String redisKey = '987654321zyxwvutsr';

// Set this to your OpenAI API Key
const String openaiKey = "sk-secretkey";

// Set this to the URL where you will deploy the files in /html
const String emotionaiUrl = "https://example.com";
// Set this to your MorphCast Emotion AI API Key
const String emotionaiKey = "abc123";
